.videosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  gap: .5rem;
}


#vidTitle {
  color: white;
}

#vidDisplay {
  max-width: 90%;
  max-height: 80vmin;
  box-sizing: border-box;
}

.vid-card {
  width: 100%;
  /* max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; */
  cursor: pointer;
  /* padding: 5px; */
  font-size: 90%;
  box-sizing: border-box;
  background-color: black;
  background-attachment: fixed;
  border-radius: inherit;
  transition: background .5s;
}

.vid-card:hover {
  background-image: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.126), transparent 50%);
}

.vid-card:hover b {
  color: rgb(220, 212, 255);
}

.video-border {
  padding: 1px;
  border-radius: 1px;
  background-attachment: fixed;
  width: 300px;
  max-width: 90%;
  /* aspect-ratio: 3/4; */
  /* background-color: #333; */
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.videosContainer:hover>.video-border {
  background-image: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), white, transparent 50%);
}

.ThumbnailDisplay {
  width: 100%;
  color: white;
  aspect-ratio: 4/3;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.ThumbnailDisplay:after {
  content: attr(data-duration);
  position: absolute;
  bottom: 2px;
  right: 2px;
  color: #F0F0F0;
  background-color: rgba(0, 0, 0, 0.575);
  padding: 2px;
}

.vidDetails {
  color: rgb(255, 255, 255);
  padding: 4px 4px 8px 8px;
  text-align: right;
}



.vidDisplayContainer {
  text-align: center;
  padding: 10px;
  max-width: 1600px;
  /* margin: 0 auto; */
}

.vidDisplayContainer h5, .vidDisplayContainer h6{
  text-align: left;
  max-width: 80%;
  margin: 0 auto;
}

.vidDisplayContainer article{
  width: fit-content;
  margin: 0 auto;
}

.vidDisplayContainer button {
  background-color: rgba(0, 0, 0, 0.3);
  color: #F0F0F0;
  padding: 5px 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  /* font-size: 120%; */
  /* font-weight: lighter; */
  border: 1px solid white;
  text-decoration: none;
  cursor: pointer;
}

.vidDisplayContainer button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


/* @media only screen and (max-width:450px) {

  .video-border {
    max-width: 70%;
  }

} */