.videosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  place-content: center;
}

#vidTitle {
  color: white;
}

#vidDisplay {
  max-width: 80%;
  max-height: 80vmin;
  box-sizing: border-box;
}

.vid-card {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  /* padding: 5px; */
  font-size: 90%;
  box-sizing: border-box;
  background-color: black;
  background-attachment: fixed;
  border-radius: inherit;
  transition: background .5s;
}

.vid-card:hover {
  background-image: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.126), transparent 50%);
}

.vid-card:hover b {
  color: rgb(220, 212, 255);
}

.video-border {
  padding: 1px;
  border-radius: 1px;
  background-attachment: fixed;
  max-width: 400px;
}

.videosContainer:hover>.video-border {
  background-image: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), white, transparent 50%);
}

.ThumbnailDisplay {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  color: white;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

.ThumbnailDisplay:after {
  content: attr(data-duration);
  position: absolute;
  bottom: 2px;
  right: 2px;
  color: #F0F0F0;
  background-color: rgba(0, 0, 0, 0.575);
  padding: 2px;
}

.vidDetails {
  color: rgb(255, 255, 255);
}



.vidDisplayContainer {
  text-align: left;
  padding: 10px;
  max-width: 80%;
  margin: 0 auto;
}

.vidDisplayContainer button {
  background-color: rgba(0, 0, 0, 0.3);
  color: #F0F0F0;
  padding: 5px 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 120%;
  /* font-weight: lighter; */
  border: 1px solid white;
  text-decoration: none;
  cursor: pointer;
}

.vidDisplayContainer button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}