#vidTitle {
  color: white;
}

#vidDisplay {
  max-width: 80%;
  max-height: 80vmin;
  box-sizing: border-box;
}


.vidSelect {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  padding: 5px;
  font-size: 90%;
  box-sizing: border-box;
}

.ThumbnailDisplay {
  margin: 10px;
  width: 100px;
  height: 100px;
  color: white;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.vidDetails {
  color: rgb(255, 255, 255);
}

.vidSelect:hover {
  border: 1px solid white;
  border-radius: 5px;
}

.vidSelect:hover b {
  color: rgb(220, 212, 255);
}

.vidDisplayContainer {
  text-align: center;
  padding: 10px;
}

.vidDisplayContainer button {
  background-color: rgba(0, 0, 0, 0.3);
  color: #F0F0F0;
  padding: 5px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-size: 120%;
  /* font-weight: lighter; */
  border: 1px solid white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.vidDisplayContainer button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.videosContainer {
  display: grid;
  grid-template-columns: auto;
  place-items: center;
}

@media only screen and (min-width:820px) {

  .videosContainer {
    grid-template-columns: auto auto;
  }

}

@media only screen and (min-width:1240px) {

  .videosContainer {
    grid-template-columns: auto auto auto;
  }

}

@media only screen and (min-width:1660px) {

  .videosContainer {
    grid-template-columns: auto auto auto auto;
  }

}

@media only screen and (min-width:2080px) {

  .videosContainer {
    grid-template-columns: auto auto auto auto auto;
  }

}

@media only screen and (min-width:2500px) {

  .videosContainer {
    grid-template-columns: auto auto auto auto auto auto;
  }

}

@media only screen and (min-width:2800px) {

  .videosContainer {
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  }

}